<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles.css" class="href">
    <title>Document</title>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Discover a magical new era</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="search">
                    <i class="fa fa-search"></i>    
               <input type="text" placeholder="search your content or canva's">
               </div>
            </div>
        </div>
        <div class="row iconscroll">
            <div class="col allicons">
                <div class="icons">
                    <i class="fa fa-search"></i>   
                    <p>for you</p> 
               </div>
               <div class="icons">
                    <i class="fa fa-search"></i>   
                    <p>for you</p> 
               </div>
               <div class="icons">
                <i class="fa fa-search"></i>   
                <p>for you</p> 
           </div>
           <div class="icons">
                    <i class="fa fa-search"></i>   
                    <p>for you</p> 
               </div>
               <div class="icons">
                <i class="fa fa-search"></i>   
                <p>for you</p> 
            </div>
            <div class="icons">
                <i class="fa fa-search"></i>   
                <p>for you</p> 
                </div>
            <div class="icons">
                        <i class="fa fa-search"></i>   
                        <p>for you</p> 
                </div>
                <div class="icons">
                    <i class="fa fa-search"></i>   
                    <p>for you</p> 
                </div>
        </div>
    </div>
</body>
</html>